<section class="login-content">
  <div class="logo">
    <h1>Oauth2 Install</h1>
  </div>
  <div class="login-box login-box-signup">
    <div class="p-4">
      <h3><i class="fa fa-solid fa-gear"></i> Install</h3>
      <p>Welcome to Oauth2id Software!</p>
      <p>The installation steps are as follows:</p>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">1. Check environment.</li>
        <li class="list-group-item">2. Import users.</li>
        <li class="list-group-item">3. Set up the administrator user.</li>
      </ol>
      <div class="mt-4">
        <%= link_to "Next", install_step1_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</section>

