---
image: circleci/ruby:3.0.3-node-browsers

variables:
  CACHE_FALLBACK_KEY: "$CI_COMMIT_REF_SLUG"

before_script:
  - bundle config mirror.https://rubygems.org https://gems.ruby-china.com
  - gem install bundler
  - bundle config set path 'vendor'  # Install dependencies into ./vendor/ruby
  - sed -i 's/mutex_m (0.2.0)/mutex_m (0.1.1)/g' Gemfile.lock

stages:
  - test
  - deploy

test:
  stage: test
  cache:
    - key:
        files:
          - Gemfile.lock
      paths:
        - vendor/ruby
    - key:
        files:
          - yarn.lock
      paths:
        - ".yarn-cache/"
  script:
    - bundle install -j $(nproc)
    - yarn install --cache-folder .yarn-cache
    - cp config/database.yml.sample config/database.yml
    - echo $RAILS_MASTER_KEY > config/master.key
    - bundle exec rails db:migrate RAILS_ENV=test
    - bundle exec rails test:all

deploy_staging:
  cache:
    - key:
        files:
          - Gemfile.lock
      paths:
        - vendor/ruby
  stage: deploy
  script:
    - bundle install -j $(nproc)
    - mkdir ~/.ssh
    - mv "$SSH_ID_RSA" ~/.ssh/id_rsa
    - mv "$SSH_CONFIG_FILE" ~/.ssh/config
    - bundle exec cap staging deploy
  environment:
    name: staging
    url: https://sso-id.com
  only:
    - main
