<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" style="flex: 1"><%= t('form.show') -%></h5>
      <div style="flex: 1" class="text-center"><%= t('ui.employees_description') %></div>
      <a style="flex: 1" class="close text-right" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-window-close"></i>
      </a>
    </div>
    <div class="modal-body">
      <%= render partial: 'show', locals: {user: user} -%>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('ui.close') -%></button>
    </div>
  </div>
</div
