<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('ui.my_application_list') -%></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="widget-small info coloured-icon">
        <i class="icon fa fa-handshake-o fa-3x"></i>
        <div class="info">
          <%= link_to SamlIdp.config.service_provider.finder.call('www.successfactors.com')[:login_url], target: '_blank' do %>
            <h4>绩效管理</h4>
          <% end %>
        </div>
      </div>
    </div>
    <% @applications.each do |application| -%>
      <%= render partial: "app_div", locals: { application: application } %>
    <% end %>
  </div>
</main>
