
# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
oauth2id_signing_key: |
  -----BEGIN PRIVATE KEY-----
  ....
  -----END PRIVATE KEY-----
secret_key_base: 70cd257b978b05a77f66d68948e02f756d83a86567e376bb7c362357a9523d6ca1968756f3058fb1b8a90facc0742cd0fb5e07d61b41e8ec637e801c8ef06d23
# It's fake one, unless someone use it as real.
devise_jwt_private_key: |
  -----BEGIN PRIVATE KEY-----
  MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDVdrW/Pz8gcfDR
  ArNarluAFosFhVEPjXGxEh1JLYGqDnxoWyKPFxsHiu7vfsRYPr7zrU4cN11DUvIB
  Wc3xS6EOhjbrjz4KGe0AgZKrtS5kA2afaxHZW+cEH1ejoPg+gnQnKXw8tpjMvk39
  rH4y38UKBVJM8rxShRoOn4/NT+ZbEttVsBrpddMEtQMcpP18jT5EdJYOG6xw/IBq
  HRgVwwMtbI5sucD/QGQlx3PQUwpbv3c9YZlJA+Zks2Tjxx/jutruinWveLvWeyKq
  Di39mNnAecil1fhvwzWJMwXG+4IGB4OGKa7SXaVdTIXmLgV1rDqL4gl6YQupn1ch
  YrVjsF7dAgMBAAECggEAAI2J3ZlvJCsO6Vg5uHaLV/g7/1ukvui5Ng3JbYOVis2+
  /183kQL1gUvyffkh+9daJ9mTR1WqeUCKClGPrcHTd+0Va4cz+wL954JfWPBZc4dB
  oO02rPRyqzisJh/bkevWvDKu0cDjejFNAwAm2Cdl/CxdgxZ9eE0/DTo2kpuVIsk/
  Tvhr+4WO2TvEeX9hkhqTGSdHSE2ZvoAsOnpnVmjblbMSIhIjGb2Q/QnNyYqCs866
  pRhQi/a9x7MlQZkqDd4AiOtIvdYaLsrBCuyPHA592kW0nu7+DyK9jnDmMUNX6Zub
  pOTliYDAVvOuALT4qYF9i1VW8Rlvr1BlaxLFGnBL1QKBgQD2WVsij3Qv7VSK9JG7
  b802IIz+KgIQG2dLh2Qcj5GiAA3lOxR3nc0MRB4lkeNGzIE9mHhxcVbeum1n85LM
  YQ+jztnRNRdMV57JPIc9R8fBBivwNEqf9OXfiPKojOrYfCazDzzvXTAesiKR1aMZ
  MF0NT0u31q95QN5J8dVvSYMPjwKBgQDd04uwbihKViyZBlCxdA+CxOo36YK5mu9V
  u9RCXQBFGfzTLb+sCcVW+DZbvZaUNYXvCN03gmam1WHpIJmC9GeKfH33VTzizmKH
  GTLY894gauQU7drBiA9crTU06a4hrBOBE6p6fGbdq/4E/OMcOchuy9Q2Ahtg9Tbx
  TTHAAaa00wKBgQCqZG/m3baNl+iMHFHYhaI5OBaNjlzS60FtOn6CSsN+e+8giNbF
  Tb6QJ2V6swey5qzV/+n+/VgKwoP+DLmS5+e7c82xKLmuskRACL+6ITYHSs+FW4Xq
  UafWD5FYB/BAQM87tuR848Xu1WOX317qg0s5c4l55OKGSdn253CrgvtF/QKBgEA3
  KU0d1pQOdkKmTV3Rl1vn3VXqR2mrrHVJNp0vhxB6AXKw37fR7ErM+A9+xsSI6gjU
  rBWRrl3Fj96JDWeXkRHKED01c7bEwEkTxmB/2GHSD8zvPlCgLrJJggmbTEl7IvpO
  0x86PB0X2SVgf+5/28IXR4uK+JoM4qbgDfLjh3r5AoGAPwpUSoYCb0np92dcnmdS
  LikUk515uN9Y5DUb/o9XtXbsKh1bRMLIrNgx/0EZvf9T9p5RdTDVOAYlaaB9uScy
  ZqkHsMVnAg71Q42ul42ZM+go+oQHGuL/vZZmoXaGLbqZfR3xvKBHVjHeO5i2/9Gl
  NZzhieYpWfuBEqyERP4CvL4=
  -----END PRIVATE KEY-----
devise_jwt_public_key: |
  -----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1Xa1vz8/IHHw0QKzWq5b
  gBaLBYVRD41xsRIdSS2Bqg58aFsijxcbB4ru737EWD6+861OHDddQ1LyAVnN8Uuh
  DoY2648+ChntAIGSq7UuZANmn2sR2VvnBB9Xo6D4PoJ0Jyl8PLaYzL5N/ax+Mt/F
  CgVSTPK8UoUaDp+PzU/mWxLbVbAa6XXTBLUDHKT9fI0+RHSWDhuscPyAah0YFcMD
  LWyObLnA/0BkJcdz0FMKW793PWGZSQPmZLNk48cf47ra7op1r3i71nsiqg4t/ZjZ
  wHnIpdX4b8M1iTMFxvuCBgeDhimu0l2lXUyF5i4Fdaw6i+IJemELqZ9XIWK1Y7Be
  3QIDAQAB
  -----END PUBLIC KEY-----
ldap_host: ""
ldap_attribute: ""
ldap_admin_user: ""
ldap_password: ""
nc_uap_database: ""
nc_uap_username: ""
nc_uap_password: ""
