# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
oauth2id_signing_key: |
  -----BEGIN PRIVATE KEY-----
  ....
  -----END PRIVATE KEY-----
secret_key_base: 70cd257b978b05a77f66d68948e02f756d83a86567e376bb7c362357a9523d6ca1968756f3058fb1b8a90facc0742cd0fb5e07d61b41e8ec637e801c8ef06d23
# It's fake one, unless someone use it as real, see SAML 2.0 in README to generate one.
oauth2id_x509_certificate: |
  -----BEGIN CERTIFICATE-----
  MIIDizCCAnOgAwIBAgIUMKy4vcvSaePYcxEQcE9q3XAzS9gwDQYJKoZIhvcNAQEL
  BQAwVTELMAkGA1UEBhMCQ04xETAPBgNVBAgMCFNoYW5naGFpMREwDwYDVQQKDAhv
  YXV0aDJpZDEgMB4GCSqGSIb3DQEJARYRZGVtb0BvYXV0aDJpZC5kZXYwHhcNMjMx
  MTA2MTA1MjA5WhcNMzMxMTAzMTA1MjA5WjBVMQswCQYDVQQGEwJDTjERMA8GA1UE
  CAwIU2hhbmdoYWkxETAPBgNVBAoMCG9hdXRoMmlkMSAwHgYJKoZIhvcNAQkBFhFk
  ZW1vQG9hdXRoMmlkLmRldjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
  AJpBbo0XcVPRPBtAXK8Z2lVUfU0lXPW0Q4Nbgoa/RXeMHsyOFPg9OmWn7aKqg5/l
  LiNr5tLjJcXnxRZvJJCXxQYp7Wc6P8Fxq7oOyUORu5wAjXndmU1GUaV/FvPcuico
  LNNK6AqBO1BHbMU+q8XpdTSvuRKcMq8g0ZMXbJwH7FQMRlLME2PLQMleqQtaFAeD
  rOwjUzv3JTF8P1gsqoCjvPCV6d7Z5UIbU6G6hjI8MRGTGOzgNdvw4F4BaZys9MCk
  HwvRDUPF6f/RDQTpGxJ4iDklzOCFJJxBhZBVAYveVWx0yEh+XwJjdsZClY8L9jLZ
  KRkPv5JHsir5XXRZmboBuPECAwEAAaNTMFEwHQYDVR0OBBYEFEepmrJGn32cz6C5
  DVKVDnM6v0jHMB8GA1UdIwQYMBaAFEepmrJGn32cz6C5DVKVDnM6v0jHMA8GA1Ud
  EwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAIOa9KmRrrFFNkzFZu+to95C
  a+GiAirvMg0nYrCkR0D+o573NSdiee3HGgkkdY3SDcjWN1HMyOXdQOZAnwwQ2Vpp
  CC82Rpffd5yT+YvX0Rg6TB+uImTbE7m8vyXimzHb3jea3aQIKZai1tCMiu64WzGQ
  bt24jkEUs8Ny85NsxmWKZwbgTnxe7VLh2D14QJ2isbhZ1XpxqjJ6wVrKPGbTYpos
  g6FMTZDr2gVTs3oC6l4p6Xbx0Xbxgu2Q74UKvnnVZ3pAac8vilzzUHHTu8GKx2+K
  xcyD+Dt+A0zIFwSS22NphkRn9B99CNCQxjKHYdsB/gW7FXRxoCeFQW17LFqNv18=
  -----END CERTIFICATE-----
oauth2id_x509_sha256_fingerprint: "44:D5:0B:5C:F8:35:EF:DD:CA:82:6F:84:46:76:7E:D9:A7:8B:78:C0:2F:B3:B7:FD:7D:3F:77:6D:25:FF:F6:F8"
oauth2id_x509_secret_key: |
  -----BEGIN PRIVATE KEY-----
  MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCaQW6NF3FT0Twb
  QFyvGdpVVH1NJVz1tEODW4KGv0V3jB7MjhT4PTplp+2iqoOf5S4ja+bS4yXF58UW
  bySQl8UGKe1nOj/Bcau6DslDkbucAI153ZlNRlGlfxbz3LonKCzTSugKgTtQR2zF
  PqvF6XU0r7kSnDKvINGTF2ycB+xUDEZSzBNjy0DJXqkLWhQHg6zsI1M79yUxfD9Y
  LKqAo7zwlene2eVCG1OhuoYyPDERkxjs4DXb8OBeAWmcrPTApB8L0Q1Dxen/0Q0E
  6RsSeIg5JczghSScQYWQVQGL3lVsdMhIfl8CY3bGQpWPC/Yy2SkZD7+SR7Iq+V10
  WZm6AbjxAgMBAAECggEADlEFVCX5WCiitfrGv1+cYnAJgxf1JT66R14+YogtB9fi
  4eRL8PAp09Z+mSrPNY9dNV9l2GvJjTEiGx9smtjjKdvJU1vWH/uPTyDhMBq9+VAZ
  0VYuTLw6hqwhcrepNUomwuOAXr04xo4ie7oB0kgFH0Mx35bMo3Fd0hOJ+n9HwVMP
  arohqEnE16qh3Xks9c9CXIXoPx6sznnZk2YHy13r4SNMzN97b/5y7QDeE1kVVAJd
  kRdE/PpjFP099RjZ5GiBel+i994I0Vrd7agRocztEdGS9bObaZe32IrWSaFHMWUh
  Bc2rmehkHheKIFKYMLl/UVicL7poYHGuclCWWNiKGwKBgQDMmzgLC1Hz1doEVq9D
  ZtNj97/HkR2cEXffTjayUGfgS9wu783Zj/JM80Yxpf882H4E1MCOKlw177KzRS0K
  /+9A49CP764xHr1veM11tq0KkPPWarMczU0NO90DJpJZsVcNn3yHwfUcmthQAxwb
  SSSx9jqUtHbESjAbIqhsTeXaxwKBgQDBAIO/2jvuTFMliFNsDyOkEC04P3czQmAV
  J2r8p3BbMw82pOBNoLLTUKuL3QTtcWNLtx4oWJyuVEiR1lb7pngONGm8tnkggSEd
  HWqyLgr3B0QMgLKF2ntHxUG6fPfw7ZZLJqcVCJSmtQ6jEmYPAR52TQdl5tGpTU65
  fccels/WhwKBgF+XqXBngot0f16FjW7lLKBJEN3Ra88Nzj6TUTSwIkgFyUJYoYkj
  GqZfBo2Nq5km4IGrUKdbHSfJ7GibSjcYahScG0YUSgMDBKh+/SchCOml3XZw9Wvg
  cz5amKCvNbMYCr7/o3Pd54HMyoFfYpNQ8gb/LlFpmw+MRbt3zs6C+n/jAoGAEabk
  ZeWl2ZOtfx9K0fVIgzbfi+dyFYQamZSzWkxOIGk5GPxXb4IlGOKl7fLXAoh+Vmx3
  G6WPHvqicIQ0DGwbSuFMUnA1/90PlEQegBFp+1H0zVfv/AIRiGzoKBBJ9QUl29W7
  LldMkTq6DfwezXyCtrsw1AcaYeuqKZjxX0DX3X0CgYEAuHoSlRoIENbwrtsCSDME
  0RmstCWwzqqNsU5GbauUuzOVjyykzOgs29Y1dGL5+Vfwf0QO8YHw0v3Lk7ypn3Rh
  iNoilAuNz2d6yea5FdeNF5A27tWYEdfx+fUPzfy6nuS5NxtSCIqyUNO627xBgAIV
  P84+a5tV+fAwThW1Vk9sK5w=
  -----END PRIVATE KEY-----
# It's another fake one, unless someone use it as real, see RS256 in README to generate one.
devise_jwt_private_key: |
  -----BEGIN PRIVATE KEY-----
  MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDVdrW/Pz8gcfDR
  ArNarluAFosFhVEPjXGxEh1JLYGqDnxoWyKPFxsHiu7vfsRYPr7zrU4cN11DUvIB
  Wc3xS6EOhjbrjz4KGe0AgZKrtS5kA2afaxHZW+cEH1ejoPg+gnQnKXw8tpjMvk39
  rH4y38UKBVJM8rxShRoOn4/NT+ZbEttVsBrpddMEtQMcpP18jT5EdJYOG6xw/IBq
  HRgVwwMtbI5sucD/QGQlx3PQUwpbv3c9YZlJA+Zks2Tjxx/jutruinWveLvWeyKq
  Di39mNnAecil1fhvwzWJMwXG+4IGB4OGKa7SXaVdTIXmLgV1rDqL4gl6YQupn1ch
  YrVjsF7dAgMBAAECggEAAI2J3ZlvJCsO6Vg5uHaLV/g7/1ukvui5Ng3JbYOVis2+
  /183kQL1gUvyffkh+9daJ9mTR1WqeUCKClGPrcHTd+0Va4cz+wL954JfWPBZc4dB
  oO02rPRyqzisJh/bkevWvDKu0cDjejFNAwAm2Cdl/CxdgxZ9eE0/DTo2kpuVIsk/
  Tvhr+4WO2TvEeX9hkhqTGSdHSE2ZvoAsOnpnVmjblbMSIhIjGb2Q/QnNyYqCs866
  pRhQi/a9x7MlQZkqDd4AiOtIvdYaLsrBCuyPHA592kW0nu7+DyK9jnDmMUNX6Zub
  pOTliYDAVvOuALT4qYF9i1VW8Rlvr1BlaxLFGnBL1QKBgQD2WVsij3Qv7VSK9JG7
  b802IIz+KgIQG2dLh2Qcj5GiAA3lOxR3nc0MRB4lkeNGzIE9mHhxcVbeum1n85LM
  YQ+jztnRNRdMV57JPIc9R8fBBivwNEqf9OXfiPKojOrYfCazDzzvXTAesiKR1aMZ
  MF0NT0u31q95QN5J8dVvSYMPjwKBgQDd04uwbihKViyZBlCxdA+CxOo36YK5mu9V
  u9RCXQBFGfzTLb+sCcVW+DZbvZaUNYXvCN03gmam1WHpIJmC9GeKfH33VTzizmKH
  GTLY894gauQU7drBiA9crTU06a4hrBOBE6p6fGbdq/4E/OMcOchuy9Q2Ahtg9Tbx
  TTHAAaa00wKBgQCqZG/m3baNl+iMHFHYhaI5OBaNjlzS60FtOn6CSsN+e+8giNbF
  Tb6QJ2V6swey5qzV/+n+/VgKwoP+DLmS5+e7c82xKLmuskRACL+6ITYHSs+FW4Xq
  UafWD5FYB/BAQM87tuR848Xu1WOX317qg0s5c4l55OKGSdn253CrgvtF/QKBgEA3
  KU0d1pQOdkKmTV3Rl1vn3VXqR2mrrHVJNp0vhxB6AXKw37fR7ErM+A9+xsSI6gjU
  rBWRrl3Fj96JDWeXkRHKED01c7bEwEkTxmB/2GHSD8zvPlCgLrJJggmbTEl7IvpO
  0x86PB0X2SVgf+5/28IXR4uK+JoM4qbgDfLjh3r5AoGAPwpUSoYCb0np92dcnmdS
  LikUk515uN9Y5DUb/o9XtXbsKh1bRMLIrNgx/0EZvf9T9p5RdTDVOAYlaaB9uScy
  ZqkHsMVnAg71Q42ul42ZM+go+oQHGuL/vZZmoXaGLbqZfR3xvKBHVjHeO5i2/9Gl
  NZzhieYpWfuBEqyERP4CvL4=
  -----END PRIVATE KEY-----
devise_jwt_public_key: |
  -----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1Xa1vz8/IHHw0QKzWq5b
  gBaLBYVRD41xsRIdSS2Bqg58aFsijxcbB4ru737EWD6+861OHDddQ1LyAVnN8Uuh
  DoY2648+ChntAIGSq7UuZANmn2sR2VvnBB9Xo6D4PoJ0Jyl8PLaYzL5N/ax+Mt/F
  CgVSTPK8UoUaDp+PzU/mWxLbVbAa6XXTBLUDHKT9fI0+RHSWDhuscPyAah0YFcMD
  LWyObLnA/0BkJcdz0FMKW793PWGZSQPmZLNk48cf47ra7op1r3i71nsiqg4t/ZjZ
  wHnIpdX4b8M1iTMFxvuCBgeDhimu0l2lXUyF5i4Fdaw6i+IJemELqZ9XIWK1Y7Be
  3QIDAQAB
  -----END PUBLIC KEY-----
ldap_host: ""
ldap_attribute: ""
ldap_admin_user: ""
ldap_password: ""
nc_uap_database: ""
nc_uap_username: ""
nc_uap_password: ""
