
# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
oauth2id_signing_key: |
  -----BEGIN PRIVATE KEY-----
  ....
  -----END PRIVATE KEY-----
secret_key_base: 70cd257b978b05a77f66d68948e02f756d83a86567e376bb7c362357a9523d6ca1968756f3058fb1b8a90facc0742cd0fb5e07d61b41e8ec637e801c8ef06d23
