@import 'app_vars';

a.app-header__logo {
  background-color: $white;

  img {
    width: 170px;
  }
}

.login-box-signup {
  min-height: 502px !important;
}

#qiye-web-login-btn {
  margin-top: 8px;
}

.app-login-box {
  @media(max-width: 480px) { display: none; }
  align-self: center;
}
