@font-face {
  font-family: 'Niconne';
  src: url(asset-path('Niconne-Regular.ttf'));
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url(asset-path('tianhua.ttf'));
}

.tianhua-font {
  font-family: 'Source Han Sans CN';
  font-weight: 800 !important;
}
