// 1 - TOOLS
//---------------------------------------------------

// This files are essential for the theme
@import 'vali-admin/src/sass/1-tools/fonts';
@import 'app_vars';
@import 'vali-admin/src/sass/1-tools/customize-bootstrap';
@import 'vali-admin/src/sass/1-tools/bootstrap-source/bootstrap';

// Vendor plugin files
// Can be excluded based on your needs
@import 'vali-admin/src/sass/1-tools/dataTables.bootstrap';
@import 'vali-admin/src/sass/1-tools/bootstrap-datepicker';
@import 'vali-admin/src/sass/1-tools/sweetalert';
@import 'vali-admin/src/sass/1-tools/notify';
@import 'vali-admin/src/sass/1-tools/select2';
@import 'vali-admin/src/sass/1-tools/pace';
@import 'vali-admin/src/sass/1-tools/jqvmap';
@import 'vali-admin/src/sass/1-tools/fullcalendar';

// 2 - BASICS
//---------------------------------------------------

// This styles are essential for theme
@import 'vali-admin/src/sass/2-basics/app';
@import 'vali-admin/src/sass/2-basics/helpers';

// 3 - Component
//---------------------------------------------------

@import 'vali-admin/src/sass/3-component/header';
@import 'vali-admin/src/sass/3-component/sidebar';
@import 'vali-admin/src/sass/3-component/sidebar-mini';

// This styles are optional based on your preferance
@import 'vali-admin/src/sass/3-component/dropdown';
@import 'vali-admin/src/sass/3-component/button';
@import 'vali-admin/src/sass/3-component/app-title';
@import 'vali-admin/src/sass/3-component/tile';
@import 'vali-admin/src/sass/3-component/custom-radio-n-checkbox';
@import 'vali-admin/src/sass/3-component/toggle-button';
@import 'vali-admin/src/sass/3-component/material-half-bg';
@import 'vali-admin/src/sass/3-component/material-loader';
@import 'vali-admin/src/sass/3-component/button-spinner';
@import 'vali-admin/src/sass/3-component/widgets';
@import 'vali-admin/src/sass/3-component/chat';

// Include the following style if you need RTL support
// Also you will need to add dir="rtl" attribute to HTML tag

//@import '3-component/rtl';

// 4 -Pages
//---------------------------------------------------

// This styles are optional based on your preferance
@import 'vali-admin/src/sass/4-pages/login-material';
@import 'vali-admin/src/sass/4-pages/lockscreen-material';
@import 'vali-admin/src/sass/4-pages/error-page';
@import 'vali-admin/src/sass/4-pages/mailbox';
@import 'vali-admin/src/sass/4-pages/user-profile';

// Oauth2 Custom
@import 'app';
